* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    background: none; 
    position: sticky;
    top: 0;
    background-color: #000000bd;
}

.navwork {
    width: 50%;
}

.nav-list {
    display: flex;
    align-items: center;
}

.items {
    list-style: none;
    padding: 9px 16px;
}

.items a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
    transition: all 0.5s;
}

.items a:hover {
    color: rgb(187, 165, 165);
}

.logo {
    padding: 9px 10px;
}

.logo img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
}

.rightnav {
    width: 50%;
}

.left {
    text-align: end;
    padding: 17px 20px;
}

.rightnav input {
    padding: 4px 20px;
}

.btnsm {
    cursor: pointer;
    border-radius: 13px;
    box-shadow: 3px 4px 9px black;
}

.background {
    background: url(../img/light-bulb-6114813_1920.jpg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 576px;
}

.text {
    width: 85%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text p {
    padding: 6px 30px;
    font-size: 20px;
}

.text h2 {
    text-align: center;
    padding: 18px 20px;
    margin: 12px 9px;
    font-weight: bold;
    font-size: 30px;
}

.image {
    width: 15%;
    display: flex;
    align-items: center;
}

.image img {
    width: 127px;
    border: 2px solid black;
    border-radius: 100px;
}
.item1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectext{
    width: 70%;
}
.sectext h3{
    text-align: center;
    margin: 9px 0;
    font-size: 20px;
    font-weight: bold;
}
.sectext p{
    margin: 7px 20px;
    font-size: 15px;
    font-weight: bold;
}
.secimage img{
    width: 146px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 30px;
    box-shadow: 5px 9px 7px black;
}
.itembox{
    flex-direction: row-reverse;
}
.item h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#bottom-gap{
    margin-bottom: 35px;
}
#thirdSection{
    background-color: bisque;
    padding-bottom: 12px;
}
#thirdSection h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 18px 9px;
}
#thirdSection p{
    padding: 9px 34px;
    font-size: 1.1rem;
}
.blog img{
    display: block;
    margin: 16px auto;
    width: 205px;
    height: 218px;
    box-shadow: 1px 5px 16px 5px black;
}
.btn{
    display: block;
    margin: auto;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: gold;
    font-family: cursive;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 5px 1px 13px 3px black;
}
.blog{
    padding-bottom: 20px;
    margin: 27px 37px;
    border: 3px solid gray;
    border-top-left-radius: 83px;
    border-bottom-right-radius: 44px;
}
.contact-form h1{
    text-align: center;
    padding: 9px 9px;
    margin: 12px 9px;
    font-family: cursive;
    font-weight: bold;
    
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.contact input{
    width: 400px;
    padding: 7px 15px;
    margin: 6px 9px;
    border: 3px solid gray;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 18px;
}
#fourthSection{
    padding: 34px 19px;
    background-color: #ff18181a;
}
.btnf{
    margin: 16px;
    padding: 4px 9px;
    font-size: 13px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 9px;
}
.burger .line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}



@media only screen and (max-width: 968px){
    .navbar{
        flex-direction: column;
        height: 307px;
        transition: all 0.7s ease-out;
    }
    .navwork{
        width: auto;
    }
    .nav-list{
        flex-direction: column;
    }
    .rightnav{
        width: auto;
    }
    .left{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 50px;
    }
    .v-class{
        display: none;
    }
    .text{
        width: auto;
    }
    .image{
        width: auto;
    }
    .image img{
        width: 87px;
    }
    .text p{
        font-size: 15px;
    }
    .background::before{
        height: 113%;
    }
    .contact input{
        width: 292px;
    }
}